<nav
  class="flex text-base sticky z-[1] top-0 shadow-md bg-white dark:bg-dark dark:border items-center justify-between py-4 px-6"
>
  <div class="flex gap-6 items-center">
    <a class="mr-2" routerLink="/">
      <img
        class="w-10 h-10 rounded-md"
        [src]="
          themeService.isLight()
            ? '/brands/logo_small.png'
            : '/brands/logo_white.png'
        "
        alt="logo"
      />
    </a>
    <a class="hover:underline dark:text-white" routerLink="/design">Design</a>
    <a class="hover:underline dark:text-white" routerLink="/about">About</a>
  </div>

  <div class="flex gap-4 items-center">
    <button
      class="hover:cursor-pointer mr-2"
      (click)="themeService.toggleTheme()"
    >
      <tui-icon
        [icon]="themeService.isLight() ? '@tui.moon' : '@tui.sun'"
        [style.color]="themeService.isLight() ? 'black' : 'white'"
      />
    </button>
    <button
      class="text-black bg-white ring ring-gray-300 px-4 py-2 rounded-md hover:bg-gray-100/90 hover:cursor-pointer"
      routerLink="/login"
    >
      Login
    </button>
    <button
      class="text-white bg-pitchdark px-4 py-2 rounded-md hover:bg-pitchdark/90 dark:hover:bg-gray-800/90 hover:cursor-pointer"
      routerLink="/register"
    >
      Join Us
    </button>
  </div>
</nav>
