<div class="relative w-full">
  @if (displayLabel()) {
    <label
      class="text-sm text-slate-900 dark:text-gray-300 font-medium block mb-2"
      >{{ label() }}</label
    >
  }
  <button
    type="button"
    (blur)="onBlur()"
    (click)="isOpen.set(!isOpen())"
    class="px-4 py-2.5 w-full flex font-bold items-center justify-between rounded-[8px] border border-gray-400 dark:border-gray-700 cursor-pointer text-slate-900 text-sm outline-none bg-white hover:bg-gray-50 dark:bg-gray-900 dark:text-gray-300 dark:hover:bg-gray-800 focus:border-blue-600"
  >
    {{ innerLabel() }} {{ selectedOption().label }}
    <tui-icon
      [style.font-size.rem]="1"
      class="text-gray-500 dark:text-gray-300"
      [icon]="isOpen() ? '@tui.chevron-up' : '@tui.chevron-down'"
    />
  </button>

  <ul
    class="absolute rounded-[8px] [box-shadow:0_8px_19px_-7px_rgba(215,215,215,1)] bg-white outline outline-gray-400 z-1001 min-w-full divide-y divide-gray-200 overflow-auto dark:bg-gray-900 dark:divide-gray-800 dark:text-gray-300 dark:shadow-none focus:border-blue-600 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
    [class.hidden]="!isOpen()"
    [style.maxHeight.px]="maxHeight() ?? 384"
  >
    @for (option of options(); track $index) {
      <li
        (click)="selectOption(option.label, option.id)"
        class="dropdown-item px-5 py-2.5 hover:bg-gray-50 dark:hover:bg-gray-800 text-slate-600 dark:text-gray-300 text-sm font-medium cursor-pointer"
      >
        {{ option.label }}
      </li>
    }
  </ul>
</div>
